<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>986926516265-9115vm8c19aj10i20lq7e1h2lq742og8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.986926516265-9115vm8c19aj10i20lq7e1h2lq742og8</string>
	<key>API_KEY</key>
	<string>AIzaSyC_L_TQJ0uMrjQVucvpwO-6RGs7OhCkhlI</string>
	<key>GCM_SENDER_ID</key>
	<string>986926516265</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lurog</string>
	<key>PROJECT_ID</key>
	<string>lurog-efccd</string>
	<key>STORAGE_BUCKET</key>
	<string>lurog-efccd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:986926516265:ios:51224f4444d3620f1d7438</string>
	<key>DATABASE_URL</key>
	<string>https://lurog-efccd.firebaseio.com</string>
</dict>
</plist>